.grid-container{
    display: grid;
    grid-template-rows: repeat(3, 0.5fr) ;
    grid-template-columns: 0.5fr 2fr 1fr ;
    grid-template-areas: 
    'picture profile edit'
    'picture profile edit'
    'picture profile edit';
    padding:1%;
}

div.picture {
    grid-area: picture;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
}

div.profile {
    grid-area: profile;
    /* background-color: aqua; */
    padding-top: 4%;
    padding-left: 7%;
}

div.edit {
    grid-area: edit;
    text-align: right;
    overflow: scroll;
    padding-top: 7%;
    opacity: 90%;
}

/* Solid border */
hr.solid {
    border-top: 6px solid #bbb;
  }

.portfolio-template{
    background-image: url('../../images/portfolio-jumbotron/grey-diamond.jpg')!important;
    background-position: center center;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    min-width:100%;
}

.avatar {
    width: 140px;
    height: 140px;
}

.grid-body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
        "timeline pf";
}

div.timeline {
    padding-top: 15%;
    /* background-color: azure; */
}
.grid-exp {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    grid-template-rows: 1fr 0.5fr auto;
    grid-template-areas: 
        "role year"
        "company year"
        "desc year";
}

.role {
    display: grid;
    grid-area: role;
}
.year {
    display: grid;
    grid-area: year;
}
.company {
    display: grid;
    grid-area: company;
    padding-left: 2%;
    margin-top: -2.6%;
}
.desc {
    display: grid;
    grid-area: desc;
    margin-top: -1%;
    padding-left: 2%;
}

.grid-edu {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    grid-template-rows: 1fr 0.5fr auto;
    grid-template-areas: 
        "school year"
        "degree year"
        "desc year";
}

.school {
    display: grid;
    grid-area: school;
}
.year {
    display: grid;
    grid-area: year;
}
.degree {
    display: grid;
    grid-area: degree;
    padding-left: 2%;
    margin-top: -2.6%;
    
}
.desc {
    display: grid;
    grid-area: desc;
    margin-top: -1%;
    padding-left: 2%;
}

@media only screen and (min-width: 1440px) {
    .degree {
        display: grid;
        grid-area: degree;
        padding-left: 2%;
        margin-top: -1.2%;   
    }
    .company {
        display: grid;
        grid-area: company;
        padding-left: 2%;
        margin-top: -1.2%;
    }
}

@media only screen and (max-width: 680px) {
    .grid-container{
        display: grid;
        grid-template-rows: repeat(3, 0.4fr) ;
        grid-template-columns: 0.9fr 2fr;
        grid-template-areas: 
        'picture profile'
        'picture profile'
        'picture profile'
        'edit edit';
        padding:1%;
    }

    div.picture {
        grid-area: picture;
        /* padding: 5%; */
        text-align: center;
    }
    
    div.profile {
        grid-area: profile;
        text-align: left;
        /* background-color: aqua; */
        /* padding-top: 0%; */
        padding-left: 10%;
    }
    
    div.edit {
        grid-area: edit;
        text-align: center;
        padding-top: 4%;
    }

    .grid-body {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "pf";
    }
    
    div.timeline {
        display: none;
        grid-area: timeline;
    }
    
    div.pf {
        grid-area: pf;
    }
  }
  
  @media only screen and (max-width: 440px) {
    .grid-container {
      grid-template-columns: 18% 60% 20%; 
      grid-template-rows: 0.5fr 0.5fr 0.3fr;
      grid-template-areas:
        "left picture right"
        "left profile right"
        "left edit right";
        padding-bottom: 3%;
    }

    div.picture {
        grid-area: picture;
        /* padding-top: 20%;
        padding-left: 20%; */
        /* padding-right: 20%; */
        padding: 2%;
        padding-right: 3%;
        /* text-align: center; */
        align-items: center;
    }
    
    div.profile {
        /* display: none; */
        grid-area: profile;
        /* padding-bottom: 5%; */
        text-align: center;
        /* background-color: white; */
        /* padding-top: 4%; */
        /* padding-left: 10%; */
        padding: 0%;
        margin: 0%;
    }

    div.left {
        grid-area: left;
    }

    div.right {
        grid-area: right;
    }

    div.edit {
        grid-area: edit;
        text-align: center;
        overflow: hidden;
    }

    .avatar {
        width: 110px;
        height: 110px;
    }

    .role {
        display: grid;
        grid-area: role;
    }
    .year {
        display: grid;
        grid-area: year;
    }
    .company {
        display: grid;
        grid-area: company;
        padding-left: 2%;
        margin-top: -6.7%;
        
    }
    .desc {
        display: grid;
        grid-area: desc;
        margin-top: -1%;
        padding-left: 2%;
    }

    .degree {
        display: grid;
        grid-area: degree;
        padding-left: 2%;
        margin-top: -5%;
    }

  }